{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  // your solution here
   
      var rotate = document.getElementById('rotate-box');
      var mcRot = new Hammer.Manager(rotate);
      var rotateMe = new Hammer.Rotate();
      mcRot.add(rotateMe);
      //mcRot.get('rotate').set({ enable: true });
      mcRot.on('rotate', function(ev) {
        $("#rotate-box").css({"backgroundColor":"green"});
      });
    
      var pinch = document.getElementById('pinch-box');
      var mcPinch = new Hammer.Manager(pinch);
      var pinchMe = new Hammer.Pinch();
      mcPinch.add(pinchMe);
      mcPinch.on('pinch', function(ev) {
		    $("#pinch-box").css({"backgroundColor":"green"});
		  });
    
      var press = document.getElementById('press-box');
      var mcPress = new Hammer.Manager(press);
      var pressMe = new Hammer.Press();
      mcPress.add(pressMe);
      mcPress.on("press", function(ev) {
        $("#press-box").css({"backgroundColor":"green"});
      });
    
      var pan = document.getElementById('pan-box');
      var mcPan = new Hammer(pan);
      var panMe = new Hammer.Pan();
      mcPan.add(panMe);
      mcPan.on('panleft panright', function(ev) {
        $('#pan-box').css("background", "green");
      });

      var tap = document.getElementById('tap-box');
      var mcTap = new Hammer(tap);
      var tapMe = new Hammer.Tap();
      mcTap.add(tapMe);
      mcTap.on('tap', function(ev) {
        $('#tap-box').css({"backgroundColor":"green"});
      });

      var swipe = document.getElementById('swipe-box');
      var mcSwipe = new Hammer(swipe);
      var swipeMe = new Hammer.Swipe();
      mcSwipe.add(swipeMe);
      mcSwipe.on("swipe", function(ev) {
         $('#swipe-box').css({"backgroundColor":"green"});
      });

  </script>
</body>
</html>
